<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Edit appointment</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/jquery-ui/1.11.4/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.css}"
	rel="stylesheet" media="screen" />


<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


<script
	src="http://cdn.jsdelivr.net/webjars/jquery-ui/1.11.4/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>

<script
	src="http://cdn.jsdelivr.net/webjars/jquery-tmpl/beta1.0.0/jquery.tmpl.min.js"
	th:src="@{/webjars/jquery-tmpl/beta1.0.0/jquery.tmpl.min.js}"></script>




<script src="../static/js/common.js" th:src="@{js/common.js}"></script>

<script src="../static/js/jquery.validate.min"
	th:src="@{js/jquery.validate.min.js}"></script>


<script>
	$().ready(
			function() {
				$("#time").datepicker({
					dateFormat : "dd/mm/yy"
				});

				$("#createForm").validate({
					rules : {
						patientName : {
							required : true,
							minlength : 2
						},
						doctorName : {
							required : true,
							minlength : 2
						},
						details : {
							required : true,
							minlength : 5
						},
						time : {
							required : true
						}
					},
					submitHandler : function(form) {
						save();
						return false;
					}
				});

				var id = query_param('id');
				if (id) {
					//it's edit
					$
							.ajax({
								url : "/rest/employees/" + id,
								type : "GET",
								success : function(data) {
									console.log("Data: " + data);
									$("#patientName").val(data.patientName);
									$("#doctorName").val(data.doctorName);
									$("#time").val(data.time);
									$("#details").val(data.details);
									$("#id").val(data.id);


									$(".panel-title").html("Edit Appointment");

								},
								error : function(xhr, desc, err) {
									console.log("Error: " + err);
									var error = err;
									if (xhr.responseJSON) {
										if (xhr.responseJSON.message) {
											error = xhr.responseJSON.message;
										}
									}
									$("#error").html(error);

									$("#error").show();
								}
							});
				}
			});

	function save() {

		$("#error").html('');
		$("#error").hide();
		var time = $("#time").datepicker().val();

		$
				.ajax({
					url : "/rest/appointments",
					type : "POST",

					data : {
						'patientName' : $("#patientName").val(),
						'doctorName' : $("#doctorName").val(),
						'details' : $("#details").val(),
						'time' : time,
						'id' : $("#id").val(),
					},
					success : function(data) {
						console.log("Data: " + data);
						window.location.href = '/appointment';
					},
					error : function(xhr, desc, err) {
						console.log("Error: " + err);
						var error = err;
						if (xhr.responseJSON) {
							if (xhr.responseJSON.message) {
								error = xhr.responseJSON.message;
							}
						}
						$("#error").html(error);
						$("#error").show();
					}
				});
	}
</script>



</head>



<body>


	<div class="container">
		<a href="/"> <img
			src="http://www.3quarksdaily.com/.a/6a00d8341c562c53ef0120a896d16a970b-250wi"
			width="100"
			th:src="@{http://www.3quarksdaily.com/.a/6a00d8341c562c53ef0120a896d16a970b-250wi}" />
		</a>

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Appointments</li>
		</ol>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Appointment Editor</h3>
			</div>

			<div class="alert alert-danger" role="alert" id="error" name="error"
				style="display: none;"></div>

			<div class="panel-body">
				<form method="POST" action="/rest/appointments" id="createForm">


					<div class="form-group">
						<label for="patientName">Patient's name</label>
						<input type="text"
							class="form-control" id="patientName" name="patientName"
							placeHolder="Enter your last name e.g. Natalie Portman"/>
					</div>

					<div class="form-group">
						<label for="doctorName">Doctor's name</label> <input type="text"
							class="form-control" id="doctorName" name="doctorName"
							placeHolder="Enter your doctor's last name e.g. Sigmund Freud" />
					</div>

					<div class="form-group">
						<label for="time">Appointment date</label>
						<div class="form-group">
							<input type="text" id="time" name="time"
								placeHolder="Select a date" />
						</div>
					</div>

<!-- 					<div class="form-group"> -->
<!-- 						<label for="jobTitle">Appointment time</label> <input type="text" -->
<!-- 							class="form-control" id="jobTitle" name="jobTitle" -->
<!-- 							placeHolder="Select a time" /> -->
<!-- 					</div> -->

					<div class="form-group">
						<label for="details">Other relevant details</label> <input
							type="text" class="form-control" id="details" name="details"
							placeHolder="Other relevant details specific to this appointment" />
					</div>




					<div class="container-fluid">
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><button type="submit" class="btn btn-default"
										onclick="javascript:goToEmployeeList();return false">Cancel</button></li>
								<li>&nbsp;&nbsp;&nbsp;</li>
								<li><button type="submit" class="btn btn-default">Save
										appointment</button></li>
							</ul>
						</div>
					</div>
					<br /> <input type="hidden" class="form-control" id="id" value="0" />
				</form>
			</div>
		</div>
	</div>

</body>
</html>